.places {
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
      }
}

@media screen and (max-width: 932px) {
    .places {
        max-width: 720px;
        padding-top: 88px;
    }
  }

  @media screen and (max-width: 767px) {
    .places {
        max-width: 500px;
        padding-top: 64px;
    }
  }

  @media screen and (max-width: 525px) {
    .places {
        max-width: 320px;
      }
  }


