.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        height: 248px;
        justify-content: space-between;
    }
}